
h1{ font-size: 26px; }
h2{ font-size: 24px; }
h3{ font-size: 22px; }
h4{ font-size: 20px; }
h5{ font-size: 18px; }
h6{ font-size: 16px; }

.title{
	font-family: $title-font-family;
	font-weight: 800;
	font-size: $title-font-size;
    margin-bottom: 40px;
    line-height: 1.45;
    color: $titles-color;
    letter-spacing: 0px;
    a{
        color: $titles-color;
        &:hover{ color: $titles-color !important; }
    }
	&.ularge{
		font-size: 42px;
        margin-bottom: 50px;
        line-height: 1.2;
        font-weight: 800;	
        letter-spacing: 0.25px;
        &.bordered svg.decoration{
            width: 28px;
            height: 28px;

        }
	}
	&.large{ font-size: 34px; line-height: 1.3; }
	&.medium{ font-size: 20px; line-height: 1.4; margin-bottom: 25px; }
	&.small{ font-size: 18px; margin-bottom: 10px; font-weight: 600; }
	&.usmall{ font-size: 15px; margin-bottom: 5px; letter-spacing: 0.4px; font-weight: 700; }
    &.white{ color: #fff; }
	&.bordered{
        position: relative;
        z-index: 2;
        font-weight: 800;
        svg.decoration{
            width: 18px;
            height: 18px;
            color: $secondary-color;
            position: relative;
            margin-left: -1px;
            margin-right: 8px;
            top: 1px;

        }
        &.medium-border{
            padding-left: 40px;
            &:before{
                background-size: 24px 14px;
                margin-top: -1px;
            }
            svg.decoration{
                width: 24px;
                height: 14px;
            }
        }
        &.absolute-border{
            padding-left: 0;
            &:before{
                left: -40px;
                background-size: 24px 14px;
                margin-top: -1px;
            }
            svg.decoration{
                left: -40px;
                width: 24px;
                height: 14px;
                margin-top: -1px;
            }
        }
        &.gray-border{
            display: flex;
            span{
                padding-right: 20px;
            }
            .decoration{ margin-top: 4px; min-width: 15px; }
            &:after{
                content: '';
                width: 100%;
                margin: auto 0;
                height: 1px;
                background: $border-color;
                z-index: -1;
            }
        }        
    }
    &.absolute{
        position: absolute;
        left: 40px;
        top: -20px;
        z-index: 2;
    }
    &.bold{ font-weight: bold !important; }
}
