// Checkout Page

.woocommerce{
    // Payment methods
    #payment{
        // background: $white;
        background: transparent;
        border-radius: 15px;
        padding: 20px;
        border: 1px solid $border-color;
        ul.payment_methods {
            padding-left: 0;
            padding-right: 0;
            border-color: $border-color;
            label{
                font-weight: 500;
                font-size: 1.15em;
            }
        }
        div.payment_box{
            background-color: $input-bg-color;
            &::before{
                border-bottom-color: $input-bg-color;
            }
        }
        a{
            text-decoration: underline;
        }
        p{
            padding-bottom: 0;
        }
    }
    .woocommerce-checkout #payment ul.payment_methods li{
        list-style: none;
    }
    .woocommerce-terms-and-conditions-wrapper{
        margin-bottom: 20px;
    }
}

// #add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li{
//     list-style: none;
// }

// #add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment
// #add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box


// .woocommerce .woocommerce-customer-details address{
//     border-color: $border-color;
//     padding: 20px;
// }