/* Lightbox zoom effect */

.my-mfp-zoom-in .mfp-content {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .mfp-content {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .mfp-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg, .my-mfp-zoom-in.mfp-ready .mfp-close {
	opacity: 1;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg{
    opacity: 0.6;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg, .my-mfp-zoom-in.mfp-removing .mfp-close  {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

/* Global opacity Effect */

a.hover-effect{
	display: block;
	position: relative;
	overflow: hidden;
	background: $input-bg-color;
}
a.hover-effect img, a.hover-effect span.cover{
	display: block;
	width: 100%;
	height: auto;
	backface-visibility: hidden;
	transition: all 600ms ease;
}

.underline-effect{
    a:not(.epcl-button), .link{
        background-image: linear-gradient(to right, $text-color 0%, $text-color 100%);
        background-size: 100% 0%;
        background-repeat: no-repeat;
        background-position: left 90%;     
        transition: all 200ms ease;   


        &:after, &:before{ display: none; }
        &:hover{
            color: $black;
            background-size: 100% 8%;
        }
    }
    &.white a{
        background-image: linear-gradient(to right, $white 0%, $white 100%);
        &:hover{
            color: $white !important;
        }
    }
    &.medium-effect a{
        background-position: left 72%; 
    }
}
.border-effect{
    a:not(.epcl-button){
        background-image: linear-gradient(to right, $text-color 0%, $text-color 100%);
        background-repeat: no-repeat;
        background-position: left 90%;   
        background-size: 100% 9%;
        &:hover{
            color: inherit;
            border-color: transparent; 
            background-size: 100% 0%;
            background-position: left 100%;  
        }
    }
    &.small-effect{
        a{
            background-size: 100% 1px;
        }    
    }
    &.white a{ background-image: linear-gradient(to right, $white 0%, $white 100%); }
}

// Translate Effect 

.translate-effect{
    display: inline-block;
    &:hover{
        transform: translateY(-3px);
    }
}

.opacity-effect{
    &:hover{
        opacity: 0.87;
    }
}

.main-effect{
    transition: all 400ms $transition-bezier;
    .fullimage{
        transition: all 400ms $transition-bezier;
    }
    &:hover{
        box-shadow: $small-shadow;
        transform: translate(-2px, -2px);
    }
    &.medium-shadow:hover{

        box-shadow: $medium-shadow;
        transform: translate(-3px, -3px);
    }
}

.border-left-effect{
    a{
        display: inline-block;
        position: relative;
        z-index: 2;
        &::before{
            content: '';
            width: 0px;
            height: 1px;
            background: $black;
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            @include transition;
        }
        &:hover{
            padding-left: 40px !important;
            &:before{
                width: 8px;
            }
        }
    }
}

.overlay-effect{
    position: relative;
    z-index: 5;
    .image-container{
        position: relative;
    }
    .image-container:before{
        display: block;
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        border-radius: 50%;
        background: $main-color;
        z-index: -2;
        opacity: 0.3;
        transform: scale(1);
        @include transition;
    }
    &:hover{
        .image-container:before{
            transform: scale(1.16);
            opacity: 0.25;
        }    
    }
}