/* @group Author and Tags page */

.archive #author div.avatar{ margin-top: 10px; }
#archives{
    .tag-description{
        margin-top: $large-section-padding;
        padding: 0px 60px 20px;
        width: auto;
        .left{            
            padding: 0;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            .category-image{
                margin: 0 20px 0 0;
            }
            .title{
                white-space: nowrap;
            }
            .title span{
                display: block;
            }
        }
        .right{
            padding: 0;
            margin-left: 50px;
            padding-left: 50px;
            border-left: 2px solid $border-color;
        }
    }
    
}

/* @end */

/* @group Tag Archives Page */

.epcl-tags-archive{
    .thumb{
        display: flex;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        text-align: center;
        color: $white;
        flex-flow: column wrap;
        margin-top: 20px;
        animation: morph 15s ease-in-out infinite;
        margin: 0 auto;
        float: none;
        .dot{
            background: $white;
        }
        .info{
            margin: auto 0;
        }
        &:hover{
            box-shadow: 0px 3px 20px -5px $main-color; 
        }

    }
    .item:nth-child(2) .thumb {
        animation: morph 8s ease-in infinite;
    }
    .item:nth-child(3) .thumb {
        animation: morph 12s linear infinite;
    }
    .epcl-flex{
        box-sizing: border-box;
        flex-flow: row wrap;
    }
    .category-info{
        margin-top: 20px;
        margin-bottom: 20px;
        h3{
            margin-top: 7px;
        }    
    }
}

/* @end */

/* @group Global: Author Box */

#author{
	position: relative;
	z-index: 1;
    margin: $large-section-padding auto 0;
    padding: 0px 80px 20px;
    box-sizing: border-box;
    &.no-avatar{
        .right{
            margin-left: auto;
        }
    }
    .left{
        margin-left: auto;
        margin-right: 60px;
    }
    .author-avatar{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: $medium-shadow;
        position: relative;
        animation: morph 15s ease-in-out infinite;
        .author-image{
            @include absolute-element;
            margin: 0;
            transform: none;
        }
    }
    .author-name{ margin: 20px 0 3px; line-height: 1; }
    .location{
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        vertical-align: middle;
        margin-left: 7px;
        margin-top: -4px;
        color: $black;
        border: 1px solid $boxes-border-color;
        padding: 5px 8px;
        border-radius: 6px;
        position: relative;
        z-index: 2;
        &:before{
            content: '';
            @include absolute-element;
            z-index: -2;
            background: $boxes-border-color;
            opacity: 0.25;
        }
    }
    .right{
        margin-right: auto;
    }
    .total{
        font-weight: 600;
        margin-top: 20px;
    }
    div.info{
        margin-top: 20px;
        max-width: 550px;
    }
    .epcl-button{
        margin-top: 30px;
    }
    div.social{
        margin-top: 15px;
        a{
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            margin: 0 10px 0 0;
            svg{
                margin-right: 5px;
                margin-top: -2px;
                vertical-align: middle;
                color: $main-color;
                width: 15px;
                height: 15px;
            }
            &.twitter svg{
                width: 12px;
                height: 12px;
            }
            &.facebook svg{
                width: 15px;
                height: 15px;
                margin-right: 7px;
            }
            &.custom-social{
                img{
                    width: 17px;
                    height: 17px;
                    margin-right: 5px;
                    margin-top: -3px;
                    vertical-align: middle;
                }
            }
        }
    }
    .bg-decoration{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 249px;
        height: 198px;
        z-index: -1;
        fill: $boxes-border-color;
        opacity: 0.4;
    }
}

/* @end */