    // Forms
.woocommerce{
    .select2-container--default{
        .select2-selection--single{
            background-color: $input-bg-color;
            border: 1px solid $border-color;
            height: 45px;
            // border-radius: $border-radius;
            padding: 12px 30px;
            box-sizing: border-box;
            .select2-selection__rendered{
                padding: 0;
                line-height: 1.5;
            }
            .select2-selection__arrow{
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
            }
        }

        .select2-search--dropdown .select2-search__field{
            padding: 12px 30px;
            margin: 0;
        }
    }

    fieldset{
        legend{
            @extend .title;
            margin-bottom: 15px;
            padding-top: 15px;
        }
    }

    .quantity .qty{
        display: inline-block;
        font-size: 12px;
        padding: 7px 10px;
        box-sizing: border-box;
        width: 5em;
        padding-right: 25px;
        margin-right: 15px;
        height: 40px;
    }

    // Woocommerce forms
    form {
        .form-row {
            margin-bottom: 15px;
            label{
                margin-bottom: 15px;
                font-family: $title-font-family;
                font-size: 15px;
                font-weight: 700;
            }
            textarea{
                height: 7em;
            }
            &.woocommerce-invalid{
                label{
                    color: $text-color;
                }
                .select2-container, input.input-text, select{
                    border-color: #FF3D3D;
                }
            }
            
        }
    }
    // .woocommerce form .form-row label, .woocommerce-page form .form-row label{
    //     margin-bottom: 10px;
    // }
    // .woocommerce form .form-row.woocommerce-invalid label{
    //     color: $text-color;
    // }
    // .woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select{
    //     border-color: #FF3D3D;
    // }
    // .woocommerce-page form .form-row label, .woocommerce form .form-row label{
    //     font-family: $title-font-family;
    //     font-size: 16px;
    //     font-weight: 500;
    // }
}
