/* @group Footer */

.epcl-cta{
    padding: 75px;
    position: relative;
    overflow: hidden;
    border: 0 !important;
    z-index: 2;
    margin-top: $section-padding;
    .left{
        font-size: 20px;
        .title{ margin-bottom: 20px; }
    }
    .left, .right{
        :last-child{
            margin-bottom: 0;
        }
    }
    .bg, .bg2{
        position: absolute;
        top: 10%;
        z-index: -1;
    }
    .bg{
        left: -120px;
    }
    .bg2{
        right: -120px;
    }
}

#footer{
    margin-top: 100px;
    padding: 0;
    &.no-background{
        background: none;
        margin-top: 20px;
        padding: 0;
    }
    .title.bordered{
        svg.decoration{
            margin-left: -26px;
        }
    }
	.widgets{	      
        .default-sidebar{
            display: flex;
            flex-flow: row wrap;
        }
        .title.bordered{
            margin-bottom: 35px;
        }
        .desktop-footer{
            display: flex;
        }
        .widget{
            padding-right: 60px;
            border-radius: 0;
            box-sizing: border-box;
            margin-bottom: 40px;
            &:nth-child(3n){
                width: 40%;
                padding-right: 0;
            }
        }
        .default-sidebar, .mobile-sidebar{
            display: flex;
            flex-flow: row wrap;
        }
        .grid-33{
            flex-grow: 1;
        }
        .widget_text a{
            font-weight: bold;
        }
    }
    
    .logo{
        margin-top: -10px;
        margin-bottom: 20px;
        a{
            display: inline-block;
            color: $black;
            font-size: 40px;
            &:hover{
                transform: translateY(-3px);
            }
        }
        a i.fa{ margin-right: 5px; }
        &.text-logo{
            .dot{
                vertical-align: baseline;
                margin: 0;
            }
        }
	}

	#back-to-top{
		position: fixed;
		right: -10px;
		bottom: 10px;
		text-align: center;
		z-index: 99;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        padding: 0;
        font-size: 25px;
        opacity: 0;
        border-radius: $large-border-radius;
        cursor: pointer;
        img{ vertical-align: middle; }
        i.fa{ margin: 0; }
        &.visible{
            opacity: 1;
            right: 10px;
            bottom: 10px;
        }
    }
    .epcl-border{ margin: 0; }
	.published{
        text-align: center;
        margin: $section-padding 20px 20px;
        font-size: 14px;
        .dot{
            margin: 0 5px;
        }
        a{
            font-weight: 700;
        }
        svg.icon{
            margin: 0 4px;
        }        
    }
}


/* @end */